.project-windows  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0 70%;
    max-width: 75%;
    max-height: auto;
  }
  .bodies {
    flex: 0 1 48%;
  }

  .bigOne {
    flex: 0 1 60%;
    margin: 10px; 
  }
  .hypeMovie {
    width: 90%;
    height: auto;
  }
  .space  {
    width: 65%;
  }
  .eCommerce  {
    width: 50%;
  }
  .employee {
    width: 90%;
  }
  .card {
    flex: 0 1 auto;
    background-color: darkslategrey;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    margin: 20px;
  }
  .card-contents  {
    background-color: darkslategrey;
  }
  .card-head  {
    position: relative;
    bottom: 40px;
    border-style: solid;
    border-color:blanchedalmond;
    border-width: 5px;
    background-color: rgb(6, 92, 173);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
  }
  .jate {
      max-width: 100%;
      max-height: auto;
  }
  .repoLink {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
      /* color: darkgreen; */
      font-size: 22px;
  }
  /*cursor effects*/
  .card:hover,
  .card:hover  .card-head  {
    box-shadow: 3px 3px 8px rgb(53, 248, 138);
  }

  .footer {
    margin-top: -150px;
    text-align: center;
}